
.directors{
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
  background-attachment: fixed;
}

.directors .card{
  margin-top: 5%;
  background: transparent;
  border: 1px solid #888;
  height: 43rem;
}

.directors .card-img{
  width: 50%;
  margin: 30px auto 15px;
}

.directors .card-body{
  text-align: center;
}

.directors .card-title{
  font-size: 22px;
  margin-bottom: 20px;
}

.directors .card h4{
  color: #eee;
}
/* .directors .card */
h6{
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

.directors .card-body p{
  color: #b3b3b5;
}

.directors .bold{
  font-weight: 700;
}

.directors .hero-text p{
    color: #b3b3b5;

}
.directors .hero-text h2{
  color: #eee;
}

.directors .hero-text{
  margin-bottom: 2%;
}

.directors .card-text{
  /* height: 25rem; */
}

.directors .card:hover{
  border: 1px solid #fff;
  /* transition-duration: 2s; */
}

/* Modal CSS */

.modal-img{
  width: 30%;
  margin-bottom: 2%;
}

.center{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.modal-body{
  text-align: center;
}

.modal-body p, td{
  text-align: left;
  color: #6D6F70;
}

.modal-body td{
  padding-left: 5rem;
}

/* Responsive media queries for different device */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px ) {
  /* height: 45rem; */
}

